@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
}

nav{
    display: flex;
    background-color: #f4bcb3;
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition-timing-function: ease;
    transition-duration: 750ms;
    transition-property: all;
    transition-delay: 50ms;
}

nav:hover{
    background-color: #f49c8c;
}

.logo{
    flex: 80%;
    margin-left: 5%;
    height: 70px;
    width: 180px;
}

.logo a img{
    transition-timing-function: ease;
    transition-duration: 750ms;
    transition-property: all;
    transition-delay: 50ms;
}

.logo a img:hover{
    height: 70px;
}

.contatos{
    flex: 10%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 110px;
}

.contatos a{
    text-align: center;
    height: 50px;
    width: 55px;
}

.contatos a img{
    height: 40px;
    transition-timing-function: ease;
    transition-duration: 600ms;
    transition-property: all;
    transition-delay: 30ms;
}

.contatos a img:hover{
    height: 50px;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 600px;
}

header .headline{
    flex: 45%;
    margin-left: 5%;
}

header .headline h2{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    color: #d45353;
}

header .headline p{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    color: #ec7369;
}

header .headline .botao-mytasks{
    margin-top: 5%;
}

header .headline .botao-mytasks a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    background-color: #d45353;
    color: white;

    transition-timing-function: ease;
    transition-duration: 500ms;
    transition-property: all;
    transition-delay: 50ms;
}

header .headline .botao-mytasks a:hover{
    padding: 12px;
    background-color: #ec7369;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header .img-headline{
    flex: 45%;
    margin-right: 5%;
    text-align: center;
}
